@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
}

body{
	font-family: montserrat;
	height: 100%;

}

nav{
	height: 80px;
	width: 100%;
	background-color: black;
	position: fixed;
}

label.logo{
	font-size: 28px;
	font-weight: bold; 
	color: white;
	padding: 0 50px;
	line-height: 80px;
	font-family: 'Itim', cursive;
} 

nav ul{
	float:right;
	margin-right: 40px;

}

nav li{
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;

}

nav a{
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 4px;
} 

nav a{
	color: white;
	font-size: 18px;
	
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 4px;
} 
.donate{
	background-color: white;
	color: #000060;

}


a:hover{
	border:1px solid white;
	transition: 1s;
} 

.donate:hover{
	border:3px solid pink;
	transition: 1s;
}

nav #icon{
	color: white; 
	font-size: 30px;
	line-height: 80px;
	float: right;
	margin-right: 40px; 
	margin-right:40px;
	cursor: pointer;
	display: none;   
} 


@media (max-width: 1048px){
	label.logo{
		font-size: 24px;
		padding-left: 40px;
	}
	nav ul{
		margin-right: 20px;
	}

	nav a{
		font-size: 17px;
	}
} 

@media (max-width: 480px){
	label.logo{
		font-size: 22px;
		font-weight: bold;
	}
	nav{
		width: 100%;
	}
	nav #icon{
		display: block;
		font-size: 24px;
	}
 
	nav ul{
		position: fixed;
		width: 100%;
		height:70vh;
		background-color: #000060;
		text-align: center;
		display: none;
	}
	nav li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
		transition: 4s;
	}
	nav a{
		font-size: 20px;
	}
	a.active, a:hover{
		border:none;
		color: #3498db;
	}
	nav ul.show{
		left: 0;
	}

}
section{
	background-color: black;
	height: 600px;
	width: 100%;
}


