@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
    color: white;
}
body{
    background-color: rgb(14, 8, 8);
    font-family: montserrat;
    font-weight: bold;
}
nav{
	height: 80px;
	width: 100%;
	background-color: #000060;
}

.logo{
	font-size: 28px;
	font-weight: bold; 
	color: white;
	padding: 0 50px;
	line-height: 80px;
	font-family: 'Itim', cursive;
} 

nav ul{
	float:right;
	margin-right: 40px;

}

nav li{
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;

}

nav a{
	font-size: 18px;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 4px;
} 

a.active,a:hover{
	border:1px solid white;
	transition: 1s;
}
nav .icon{
	font-size: 30px;
	line-height: 80px;
	float: right;
	margin-right: 40px; 
	cursor: pointer;
	display: none;   
} 

@media (max-width:480px){
    nav .icon{
		display: block;
	}
    nav ul{
		position: fixed;
		width: 100%;
		height:70vh;
        display: none;
    }
    nav li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
    
    
}